* {
    font-family: Arial, Helvetica, sans-serif;
}

#node-list {
    display: flex;
    flex-flow: row wrap;
    background: #eee;
    border-radius: 2vh;
}

.node-card {
    margin: 2vw;
    padding: 2vh;
    flex-grow: 1;
    border-radius: 2vh;
    background: #fff;
}

.h-stack {
    display: flex;
    align-items: baseline;
}

.text {
    font-size: 10px;
}